/* 
===========
Custom Font
===========
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

:root {
  --primary: #ffba00;
  --primaryDark: #b46617;
  --secondary: #08211d;
  --secondaryDark: #03110d;
}

body {
  margin: 0;
  background-color: #03110d;
  color: white;
}
